/*****STYLES THE BODY*****/
body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	background: url("http://cdn.pcwallart.com/images/raw-spaghetti-noodles-wallpaper-4.jpg");
}

/*****STYLES THE MEATBALL MADNESS HEADER AT THE TOP OF PAGE*****/
h1 {
	font-family: 'Bungee Outline', cursive;
	font-size: 80px;
	color: #C01A00;
	margin: 40px 0 40px 0;
}

/*****STYLES THE DIRECTIONS HEADER*****/
h2 {
	font-family: 'Bungee Shade', cursive;
	letter-spacing: 3px;
	font-size: 50px;
	margin: 40px 0 40px 0;
	color: #8B1A00;
}

/*****STYLES THE DIRECTIONS/RULES FOR THE GAME*****/
ul {
  list-style-type: none;
  font-family: 'Bungee', cursive;
  font-size: 35px;
  padding: 0px;
  margin: 40px 0 40px 0;
  color: #C01A00;
}

/******DIV STYLING******/
a {
	font-size: 50px;
	font-family: 'Bungee Shade', cursive;
	font-color: black;
	text-decoration: none;
}

/*********/
.images {
	display: inline;
	margin: 0 auto;
	padding: 0px;
	    white-space:nowrap;
}

/*********/
.inline-block {
   display: inline-block;
   margin: 0 3px 0 3px;
}
