* {
  margin: 0px;
}

body {
  background-image: url("https://pixabay.com/p-315189/?no_redirect");
}

h1 {
  font-size: 80px;
  font-family: 'Bungee Shade', cursive;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.game {
  background: white;
  width: 100%;
  height: 750px;
  position: relative;
  overflow: hidden;
}

.score {
  z-index: 20;
  font-family: 'Bungee Inline', cursive;
  user-select: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  border: solid #E82D00 5px;
  background-color: white;
  width: 150px;
  padding: 0px;
  display: block;
  font-size: 60px;
}

.counter {
  margin: 0 auto;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  padding-bottom: 10px;
  font-size: 60px;
  position: relative;
  z-index: 20;
  margin-bottom: 10px;
  border: solid #E82D00 5px;
  background-color: white;
  width: 650px;
  padding: 0px;
  display: block;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -150px;
  transition: transform 1.5s linear;
  cursor: pointer;
  z-index: 100;
}

.move {
  transform: translateY(120vh);
}

.start button,
.restart button {
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  font-size: 35px;
  color: #E82D00;
  border: 4px solid black;
  background: white;
  margin: 5px;
  z-index: 100;
}

.restart {
  position: absolute;
  height: 60px;
  width: 100px;
  top: 0px;
  right: 50px;
}

.start {
  position: absolute;
  height: 60px;
  width: 100px;
  top: 70px;
  right: 50px;
}